active_sessions.json

# Compiled source files
*.pyc
*.pyo
__pycache__/

# Temporary files
*.swp
*.swo

# Log files
*.log

# Virtual environments
venv/
env/
.env/
.venv/
.venv

# uv
.python-version
uv.lock

# Pytest cache
.pytest_cache/

# Ide files
.idea/
.vscode/

# macOS
.DS_Store

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# Linux
*~